:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --acccent-text-color: #2196f3;
  --text-white-color: #ffffff;
  --button-portfolio: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
.title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding: 94px 0 0 0;
  margin: 0;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.list.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 94px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 10px 0 0 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid red;
  background-color: #b9e0da;
}
/* header */
.menu {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo {
  margin-right: 93px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.studio-black {
  color: #212121;
}
.studio-white {
  color: #ffffff;
}
.site-nav {
  display: flex;
}
.footer-nav {
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item {
}
.contacts-nav .item + .item {
  margin-left: 50px;
}
.site-nav .item {
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}
.color-nav {
  color: #212121;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav :hover,
.contacts-nav :focus {
  color: #2196f3;
}
.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .color-nav.current {
  color: #2196f3;
}

/* hero */
.hero {
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 200px 0 0 0;
  margin: 0px;
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  color: var(--text-white-color);
  background-color: #2196f3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;

  border: 1px transparent;
  margin: 30px 0 200px 0;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* our advantage */
.advantage {
  background-color: #ffffff;
}
.list.odds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 94px;
}
.info {
  width: 270px;
}

.advantage-list {
  color: var(--primery-text-color);
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
/* our work */
.work {
  background-color: #ffffff;
}
/* section-our-team */
.team {
  background-color: #f5f4fa;
}
.staff {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
.staff-info {
  text-align: center;
}
.team-name {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 30px 0 0 0;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin: 10px 0 30px 0;
}
/* footer */
.footer-content {
  padding-top: 60px;
  font-style: normal;
}
.footer {
  background-color: #2f303a;

  height: 252px;
}
.contact-map {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin: 20px 0 0 0;
}
.contact-footer {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin: 9px 0 0 0;
}
/* portfolio */
.portfolio {
  background-color: #ffffff;
}

.portfolio-title {
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 24px;
  color: var(--primery-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.potrfolio-text {
  margin-top: 4px;
  padding-left: 24px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.decor {
  text-decoration: none;
}
.portfolio-btn.list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.portfolio-btn .item + .item {
  margin-left: 8px;
}
.btn-filter {
  display: inline-block;
  color: var(--primery-text-color);
  background-color: var(--button-portfolio);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px transparent;
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--text-white-color);
  background-color: var(--acccent-text-color);
}
.portfolio-foto.list {
  padding-top: 50px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
}
.border-content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.element {
  margin-right: 30px;
  margin-bottom: 30px;
}
.element:nth-child(3n) {
  margin-right: 0;
}
.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
